@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

$accent: #BFBDC1;

$white: #E0FBFC;

$black: #DE9E36;

$dark-accent: #6D6A75;

$hard-dark-accent: #37323E;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Quicksand', sans-serif;

$mobile: 480px;
